.bio {
  display: flex;
  img {
    height: 90vh;
    margin-left: 5vw;
  }
  h1 {
    text-align: center;
  }
  a {
    color: #5050c7;
  }
  pre {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    font-size: 0.8em;
    white-space: pre-wrap;
  }
}

.image_cont {
  width: 30vw;
}

.bio_right {
  position: relative;
  display: flex;
  justify-content: center;
  width: 70vw;
}

.bio_text {
  position: absolute;
  box-shadow: 1px 1px 5px grey;
  padding: 2%;
  margin: 2%;
  font-size: 0.9em;
  top: 25vh;
  width: 60vw;
  background: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
