.bio {
  display: flex;
  img {
    height: 90vh;
    margin-left: 5vw;
  }
  h1 {
    text-align: center;
  }
  a {
    color: #5050c7;
  }
  pre {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    font-size: 1em;
    white-space: pre-wrap;
  }
}

.image_scroll {
  animation: fade-in 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  height: 100px !important;
}

.image_scroll2 {
  animation: fade-in2 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  height: 100px !important;
}

@keyframes fade-in {
  0% {
    opacity: 0.3;
  }
  25% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes fade-in2 {
  0% {
    opacity: 0.3;
  }
  25% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}

.image_cont {
  width: 30vw;
}

.bio_right {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
}

.bio_text {
  position: absolute;
  box-shadow: 1px 1px 5px grey;
  padding: 2%;
  margin: 2%;
  font-size: 0.9em;
  top: 25vh;
  width: 60vw;
  background: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
