.events {
  min-height: 100vh;
  h1 {
    font-weight: 300;
  }
}

.events_top {
  margin-top: 5vh;
}

.tour {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin: 5vh 10vw 0;
}

.tour_top {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #cdcdcd;
  p {
    margin: 0 4% 2% 4%;
  }
}

.events_map {
  display: flex;
  border-bottom: 1px solid #d5d5d5;
  font-size: 1.5em;
  font-weight: 100;
  padding: 2% 0;
  p {
    &:nth-of-type(1),
    &:nth-of-type(2) {
      width: 25%;
      text-align: left;
    }
    &:nth-of-type(3) {
        width: 50%;
        text-align: right;
      }
  }
}