.main_admin {
    min-height: 90vh;
    display: flex;
}

.ma_nav {
    width: 15vw;
    border-right: 1px solid grey;
}

.ma_events {
    width: 85vw;
    display: flex;
    justify-content: center;
}

.ma_events_left,
.ma_events_right > div {
    box-shadow: 1px 1px 10px -2px grey;
}

.ma_events_right,
.ma_events_left {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 45%;
}

.ma_events_right > div {
    width: 30vw;
}

.ma_events_left > div {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.ma_events_left input {
    border: 1px solid #000;
}