.main_admin {
  min-height: 90vh;
  display: flex;
}

.ma_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vw;
  border-right: 1px solid grey;
}

.ma_nav p {
  cursor: pointer;
  width: max-content;
  margin: 1% 0;
}

.ma_events {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ma_events_top,
.ma_events_btm > div {
  box-shadow: 1px 1px 10px -2px grey;
}

.ma_events_btm,
.ma_events_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 1%;
  padding-bottom: 4%;
}

.ma_events_top h2 {
  margin: 2% 0;
}

.ma_events_btm > div {
  width: 95%;
}

.ma_events_top > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main_admin input {
  border: 1px solid #000;
}

.admin_events_map {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d5d5d5;
  font-size: 1em;
  font-weight: 100;
}

.admin_events_map p:nth-of-type(1),
.admin_events_map p:nth-of-type(3) {
  width: 25%;
}

.admin_events_map p:nth-of-type(2) {
  width: 50%;
}

.modal_admin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.biography_info {
  margin-top: 2%;
  animation: slide-in-elliptic-left-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.biography_info_exit {
  animation: slide-out-blurred-left 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

.events_mapper p {
  font-weight: 300;
  font-size: 1.5em;
  margin: 2% 0;
}

.events_mapper input {
  border: 1px solid #d8d8d8;
  height: 20px;
  width: 350px;
}

.events_mapper input:focus {
  border-bottom: 1px solid #414141;
}

.modal_admin button {
  margin: 5% 0;
  padding: 2%;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
}

.modal_admin button:hover {
  background: #ebebeb;
  cursor: pointer;
}

.modal_admin button:active {
  transform: scale(.98);
}

.modal_admin button:focus {
  outline: none;
}


@keyframes slide-in-elliptic-left-fwd {
  0% {
    -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
    transform: translateX(-800px) rotateY(30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 1800px 50%;
    transform-origin: 1800px 50%;
    opacity: 1;
  }
}

@keyframes slide-out-blurred-left {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px) scaleX(2) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}
