@mixin contactHeader {
  width: 40vw;
  font-size: 5em;
  font-weight: 300;
  margin-top: 5vh;
}

.contact {
  display: flex;
  min-height: 85vh;
  font-family: 'Raleway', sans-serif;
  margin-top: 5vh;
  h1 {
    @include contactHeader;
  }
}

.bio {
  h1 {
    @include contactHeader;
  }
}

.contact_main {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    height: 25px;
    width: 300px;
    border-radius: 0;
    margin: 1%;
    font-size: 0.9em;
    border-bottom: 1px solid rgb(165, 165, 165);
  }
}

.contact_sub {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2% 0;
  padding: 5% 8%;
  height: 60vh;
  p {
    color: #595959;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: start;
    font-size: 0.8em;
    margin: 1% 0;
  }
  button {
    color: #fff;
    width: 448px;
    height: 30px;
    border-radius: 2px;
    background: #56a082;
    margin-top: 4%;
    cursor: pointer;
  }
}

.contact_main input,
textarea {
  border-radius: 2px;
}

textarea {
  border: 1px solid #747474;
  background: #fcfcfc;
  width: 445px;
  max-width: 445px;
  height: 100px;
  max-height: 150px;
  font-size: 0.9em;
}

.input_map {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    width: 150px;
  }
}

.input_map input::placeholder,
.contact textarea::placeholder {
  opacity: 0.4;
  padding-left: 1%;
}

.input_map input::placeholder {
  font-size: 0.9em;
}

input:focus,
textarea:focus,
.contact button:focus,
.admin button:focus {
  outline: none;
}

.input_map input:focus {
  background: #fcfcfc;
}

.contact button:active {
  transform: scale(0.98);
}

.focus_p {
  color: #56a082 !important;
}
